- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

- What is the average age of men?

In [29]:
df = data.groupby('sex').age.mean()

In [33]:
print(f"The average age of men is: {df[1]:.2f}.")

The average age of men is: 39.43.

- What is the percentage of people who have a Bachelor's degree?

In [45]:
result = data.groupby('education').get_group('Bachelors')
education = data['education']
percentage_bachelor = len(result)/len(education)*100
print(f"The percentage of people who have a Bachelor's degree is: {percentage_bachelor:.2f}%")

The percentage of people who have a Bachelor's degree is: 16.45%

- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [3]:
advanced_education = ['Bachelors', 'Masters', 'Doctorate']
filtered_data = data[data['education'].isin(advanced_education) & (data['salary'] == '>50k')]

percentage = (len(filtered_data) / (len(data[data['education'].isin(advanced_education)])))*100

print(f'The percentage of people with advanced education making more than 50K is: {percentage:.2f}%')

The percentage of people with advanced education making more than 50K is: 0.00%

- What percentage of people without advanced education make more than 50K?

In [4]:
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

# Filter the DataFrame for people with education levels other than advanced education and income >50K
filtered_df = data[~data['education'].isin(advanced_education) & (data['salary'] == '>50K')]

# Calculate the percentage
total_without_advanced_education = len(data[~data['education'].isin(advanced_education)])
percentage = (len(filtered_df) / total_without_advanced_education) * 100

print(f"The percentage of people without advanced education making more than 50K is: {percentage:.2f}%")

The percentage of people without advanced education making more than 50K is: 17.37%

- What is the minimum number of hours a person works per week?

In [117]:
data['hours-per-week'].min()

1

- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [7]:
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

# Filter the DataFrame for people with education levels other than advanced education and income >50K
filtered = data[(data['hours-per-week'] == 1) & (data['salary'] == '>50K')]

# Calculate the percentage
work_hour = len(data[data['hours-per-week'] == 1])
percentage_1 = (len(filtered) / work_hour) * 100

print(f"The percentage of peoplework the minimum number of hours per week have a salary of more than 50K is: {percentage_1:.2f}%")

The percentage of peoplework the minimum number of hours per week have a salary of more than 50K is: 10.00%

- What country has the highest percentage of people that earn >50K and what is that percentage?

In [19]:
country_income_percentage = data.groupby('native-country')['salary'].apply(lambda x: (x == '>50K').mean() * 100)

# Find the country with the highest percentage
highest_country = country_income_percentage.idxmax()
highest_percentage = country_income_percentage.max()

print(f"The country with the highest percentage of people earning >50K is {highest_country} with {highest_percentage:.2f}%.")

The country with the highest percentage of people earning >50K is Iran with 41.86%.

- Identify the most popular occupation for those who earn >50K in India.

In [28]:
filtered_2 = data[(data['salary'] == '>50K') & (data['native-country'] == 'India')]

# Calculate the most popular occupation
most_popular_occupation = filtered_2['occupation'].mode().values[0]

print(f"The most popular occupation for those earning >50K in India is: {most_popular_occupation}")

The most popular occupation for those earning >50K in India is: Prof-specialty